/out/*
*.o
*.exe
!out/
/Study.iml
/.idea/uiDesigner.xml
/c#/helloWorld/obj
/c#/helloWorld/obj*
/c#/helloWorld/bin/*
Study.sln

/c#/helloWorld/Properties/launchSettings.json
/.vscode/
/.idea/
/c#/helloWorld/bin/
/c#/helloWorld/obj/
*.nupkg
*.vs/
.vscode/
.idea/workspace.xml
/c#/l1/bin/
/c#/l1/obj/
/c#/l2/bin/
/c#/l2/obj/
