# General
/out/*
*.o
*.exe
!out/
/Study.iml
.vs/

# IDEs
.idea/
.vscode/

# C#
**/bin/
**/obj/
*.user

# C++
cpp/.idea/

# SolutionOrdersMobile - native folders (heavy, regeneratable)
/SolutionOrdersMobile/android/
/SolutionOrdersMobile/ios/
/SolutionOrdersMobile/.bundle/

# SolutionOrders.API
/SolutionOrders.API/appsettings.Development.json