# General
/out/*
*.o
*.exe
!out/
/Study.iml
.vs/

# IDEs
.idea/
.vscode/

# C#
/c#/helloWorld/obj/
/c#/helloWorld/bin/

# C++
cpp/.idea/

# SolutionOrdersMobile - native folders (heavy, regeneratable)
/SolutionOrdersMobile/android/
/SolutionOrdersMobile/ios/
/SolutionOrdersMobile/.bundle/